{% extends "base.html" %}
{% block title %} Хостинг стойко {% endblock %}
{% load static %}
{% block content %}


<div class="slider_container">
    <header class="slider manrope">
        Заявка на подключение
    </header>
</div>


<div class="offer_container">
    <div style="margin:20px 0 0 240px;">
        <div class="nav_offer">
            <a href="/offer/internet+tv" class="nav_offer_block manrope"> Интернет + ТВ </a>
            <a href="/offer/internet" class="nav_offer_block manrope"> Интернет </a>
            <a href="/offer/tv" class="nav_offer_block manrope"> ТВ </a>
            <a href="/offer/hosting" class="nav_offer_block manrope"> Хостинг </a>
        </div>
    </div>

    <div class="offer">
        <div class="offer_name manrope">
            Хостинг услуги
        </div>

        <div style="display: flex;
                                        flex-direction: row;
                                        align-items: flex-start;
                                        padding: 0px;
                                        gap: 15px;
                                        flex-wrap:wrap;
                                        order:2">
            <select name="tariff_info" onchange="top.location=this.value">
                <option value="/offer/hosting_stoiko"> Аренда стойко сервера</option>
                <option value="/offer/hosting"> Аренда физического сервера</option>
            </select>
        </div>
        <div class="manrope offer_title">
            Выберите конфигурацию сервера
        </div>
        <h4 style="order:3; color:black;" class="manrope"> Расположение:</h4>
        <div style="display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 15px;
                    flex-wrap:wrap;
                    order:4">
            <select name="tariff_info">
                <option value="Московская область"> Московская область</option>
                <option value="Ленинградская область"> Ленинградская область</option>
                <option value="Калужская область"> Калужская область</option>
            </select>

            <select name="tariff_info">
                <option value="Московская область"> MSK-2</option>
            </select>
        </div>

        <h4 style="order:5; color:black;" class="manrope"> Конфигурация:</h4>
        <div style="display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 15px;
                    flex-wrap:wrap;
                    order:6">
            <select name="tariff_info">
                <option value="Московская область"> Московская область</option>
                <option value="Ленинградская область"> Ленинградская область</option>
                <option value="Калужская область"> Калужская область</option>
            </select>

            <select name="tariff_info">
                <option value="Московская область"> Московская область</option>
                <option value="Ленинградская область"> Ленинградская область</option>
                <option value="Калужская область"> Калужская область</option>
            </select>
        </div>

        <div style="display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 15px;
                    flex-wrap:wrap;
                    order:7">
            <select name="tariff_info">
                <option value="Московская область"> Московская область</option>
                <option value="Ленинградская область"> Ленинградская область</option>
                <option value="Калужская область"> Калужская область</option>
            </select>

            <select name="tariff_info">
                <option value="Московская область"> Московская область</option>
                <option value="Ленинградская область"> Ленинградская область</option>
                <option value="Калужская область"> Калужская область</option>
            </select>
        </div>

        <div style="display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    flex-wrap:wrap;
                    gap: 15px;
                    order:7">
            <select name="tariff_info">
                <option value="Московская область"> Московская область</option>
                <option value="Ленинградская область"> Ленинградская область</option>
                <option value="Калужская область"> Калужская область</option>
            </select>

            <select name="tariff_info">
                <option value="Московская область"> Московская область</option>
                <option value="Ленинградская область"> Ленинградская область</option>
                <option value="Калужская область"> Калужская область</option>
            </select>
        </div>


    </div>
</div>

<div class="form_offer_container">
    <div class="manrope offer_title">
        Оформите заявку на подключение
    </div>
    <form method="post">
                {% csrf_token %}
                <div class="form_offer">
                    <input type="hidden" name="user_id" value="0" required="" id="id_user_id">

                    <input type="hidden" name="date"   id="id_date">


                    <h3 class="manrope"> Контактные данные: </h3>
                    <div class="form_field">

                        <div style="display:flex; flex-direction:column; gap:5px;">
                            <div class="small_label"> Ваше имя </div>
                            {{offer_form.name}}
                        </div>

                        <div style="display:flex; flex-direction:column; gap:5px;">
                            <div class="small_label"> Телефон </div>
                            {{offer_form.phone_number}}
                        </div>

                    </div>

                    <h3 class="manrope"> Адрес подключения: </h3>
                    <div class="form_field">

                        <div style="display:flex; flex-direction:column; gap:5px;">
                            <div class="small_label"> Регион </div>
                            {{offer_form.region}}
                        </div>

                        <div style="display:flex; flex-direction:column; gap:5px;">
                             <div class="small_label"> Город </div>
                             {{offer_form.city}}
                        </div>
                    </div>

                     {{offer_form.adress}}


                    <input type="hidden" id="id_tariff_info"  name ="tariff_info">
                    <div class="form_field">
                        <input type="checkbox" style="box-sizing: border-box;
                            width: 24px;
                            height: 24px;

                            /* Line/Inactive */

                            border: 1px solid #CAD6E2;
                            border-radius: 4px;">
                        <div class="small_label" style="margin:0 75px 0 0;"> Отправляя заявку, я соглашаюсь на обработку своих персональных данных, согласно <br> <b> политике конфиденциальности </b>  </div>
                        <div class="Button_small_blue" >
                            <input class="submit_button" type="submit" value="Отправить заявку">
                        </div>
                    </div>

                </div>


            </form>
</div>

<style>

    select[name="tariff_info"]{
    background: #fff;
}

.offer_container{
    margin: -60px 0 0 0;
}

</style>
{% endblock %}