{% extends "base.html" %}
{% block title %} Вход {% endblock %}
{% load static %}
{% block content %}

<div class="slider_container">
    <header class="slider manrope">
        Заявка на подключение
    </header>
</div>

<div class="offer_container">

     <div class="offer">
        <div class="nav_offer">
            <a href="/offer/internet+tv" class = "nav_offer_block manrope"> Интернет + ТВ </a>
            <a href="/offer/internet" class = "nav_offer_block manrope"> Интернет </a>
            <a href="/offer/tv" class = "nav_offer_block manrope"> ТВ </a>
            <a href="/offer/hosting" class = "nav_offer_block manrope"> Хостинг </a>
        </div>

         <div class="offer_name manrope">
             Хостинг услуги
         </div>
        <h4 style="order:2;"> Конфигурация:</h4>
           <div style="display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 15px;
                    order:2">
            <select name="tariff_info">
                <option value="Аренда физического сервера"> Аренда физического сервера </option>
                <option value="Аренда стойко сервера"> Аренда стойко сервера </option>

            </select>
           </div>
         <div class="manrope offer_title">
            Выберите конфигурацию сервера
        </div>
         <h4 style="order:3;"> Расположение:</h4>
        <div style="display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 15px;
                    order:4">
            <select name="tariff_info">
                <option value="Московская область"> Московская область </option>
                <option value="Ленинградская область"> Ленинградская область </option>
                <option value="Калужская область"> Калужская область </option>
            </select>

         <select name="tariff_info">
                <option value="Московская область"> MSK-2 </option>
            </select>
        </div>

         <h4 style="order:5;"> Конфигурация:</h4>
           <div style="display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 15px;
                    order:6">
            <select name="tariff_info">
                <option value="Московская область"> Московская область </option>
                <option value="Ленинградская область"> Ленинградская область </option>
                <option value="Калужская область"> Калужская область </option>
            </select>

               <select name="tariff_info">
                <option value="Московская область"> Московская область </option>
                <option value="Ленинградская область"> Ленинградская область </option>
                <option value="Калужская область"> Калужская область </option>
            </select>
    </div>

         <div style="display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 15px;
                    order:7">
            <select name="tariff_info">
                <option value="Московская область"> Московская область </option>
                <option value="Ленинградская область"> Ленинградская область </option>
                <option value="Калужская область"> Калужская область </option>
            </select>

               <select name="tariff_info">
                <option value="Московская область"> Московская область </option>
                <option value="Ленинградская область"> Ленинградская область </option>
                <option value="Калужская область"> Калужская область </option>
            </select>
    </div>

         <div style="display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 15px;
                    order:7">
            <select name="tariff_info">
                <option value="Московская область"> Московская область </option>
                <option value="Ленинградская область"> Ленинградская область </option>
                <option value="Калужская область"> Калужская область </option>
            </select>

               <select name="tariff_info">
                <option value="Московская область"> Московская область </option>
                <option value="Ленинградская область"> Ленинградская область </option>
                <option value="Калужская область"> Калужская область </option>
            </select>
    </div>
    <h4 style="order:8;"> Операционная система:</h4>
</div>

<div class="form_offer_container">
    <div class="manrope offer_title">
            Оформите заявку на подключение
        </div>
    <form method="post">
        {% csrf_token %}
        <div class="form_offer">
            <div>
                {{offer_form.user_id}}
            </div>

            <div>
                {{offer_form.name}}
            </div>

            <div>
                {{offer_form.phone_number}}
            </div>

            <div>
                {{offer_form.region}}
            </div>

            <div>
                {{offer_form.city}}
            </div>

        </div>
            <div>
                {{offer_form.adress}}
            </div>

            <input  class="submit_button" type="submit" value="Отправить заявку">
    </form>

    <div>
<!--        <h3> Расчет стоимости тарифа </h3>-->
<!--        <select  onblur="raschitat();" id="cvet">-->
<!--            <option value="nach">Начальный</option>-->
<!--            <option value="comfort"> Комфортный </option>-->
<!--            <option value="opti"> Оптимальный </option>-->
<!--        </select>-->
<!--    <div id="stoimost"></div>-->

</div>
</div>

{% endblock %}