{% extends "base.html" %}
{% block title %} Вход {% endblock %}
{% load static %}
{% block content %}

<div class="slider_container">
    <header class="slider manrope">
        Заявка на подключение
    </header>
</div>

<div class="offer_container">

     <div class="offer">
        <div class="nav_offer">
            <a href="/offer/internet+tv" class = "nav_offer_block manrope"> Интернет + ТВ </a>
            <a href="/offer/internet" class = "nav_offer_block manrope"> Интернет </a>
            <a href="/offer/tv" class = "nav_offer_block manrope"> ТВ </a>
            <a href="/offer/hosting" class = "nav_offer_block manrope"> Хостинг </a>
        </div>

         <div class="offer_name manrope">
             Хостинг
         </div>
    </div>

</div>

<div class="form_offer_container">
    <div class="manrope offer_title">
            Оформите заявку на подключение
        </div>
    <form method="post">
        {% csrf_token %}
        <div class="form_offer">
            <div>
                {{offer_form.user_id}}
            </div>

            <div>
                {{offer_form.name}}
            </div>

            <div>
                {{offer_form.phone_number}}
            </div>

            <div>
                {{offer_form.region}}
            </div>

            <div>
                {{offer_form.city}}
            </div>

        </div>
            <div>
                {{offer_form.adress}}
            </div>

            <input  class="submit_button" type="submit" value="Отправить заявку">
    </form>

    <div>
        <h3> Расчет стоимости тарифа </h3>
        <select  onblur="raschitat();" id="cvet">
            <option value="nach">Начальный</option>
            <option value="comfort"> Комфортный </option>
            <option value="opti"> Оптимальный </option>
        </select>
    <div id="stoimost"></div>

</div>
</div>

{% endblock %}