{% extends "base.html" %}
{% block title %} Хостинг{% endblock %}
{% load static %}
{% block content %}

<div class="slider">
    <header class="slider__header manrope">
        Заявка на подключение
    </header>
    <div class="slider__nav">
            <a href="/offer/hosting" class="nav__offer manrope forth"> Хостинг </a>
            <a href="/offer/tv" class="nav__offer manrope third"> ТВ </a>
            <a href="/offer/internet+tv" class="nav__offer manrope first" > Интернет + ТВ </a>
            <a href="/offer/internet" class="nav__offer manrope second"> Интернет </a>
        </div>
</div>
<div class="offer">

        <div class="slider__nav">
            <a href="/offer/hosting_stoiko" class="nav__offer manrope third"> Аренда стойко места </a>
            <a href="/offer/hosting_preconf" class="nav__offer manrope second"> Готовые сервера </a>
            <a href="/offer/hosting" class="nav__offer manrope first"> Конфигурация сервера </a>
        </div>

        <div class="offer__name manrope">
            Хостинг услуги
        </div>

        <div class="offer__title manrope">
                        <div class="offer__pointer"> 1 </div>
                        <div> Сконфигурируйте место </div>
                    </div>
</div>


<div class="form_offer">
    <div class="form_offer__container">
        <div class="form_offer__title manrope">
            <div class="offer__pointer"> 2 </div>
            <div> Оформите заявку на подключение </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form_offer__form">

                <input type="hidden" name="user_id" value="0" required="" id="id_user_id">
                <input type="hidden" name="date" id="id_date">

                <div class="manrope form__title"> Контактные данные: </div>
                <div class="form__row">
                    <div class ="form__field" >
                        <div class="form__label"> Ваше имя</div>
                        {{offer_form.name}}
                    </div>

                    <div class ="form__field" >
                        <div class="form__label"> Телефон </div>
                        {{offer_form.phone_number}}
                    </div>

                </div>
                <div class="manrope form__title"> Адрес подключения: </div>
                <div class="form__row">
                    <div class ="form__field" >
                        <div class="form__label"> Регион</div>
                        {{offer_form.region}}
                    </div>

                    <div class ="form__field" >
                        <div class="form__label"> Город</div>
                        {{offer_form.city}}
                    </div>
                </div>

                {{offer_form.adress}}

                <input type="hidden" id="id_tariff_info" name="tariff_info">
                <div class="form__row">
                    <input type="checkbox" style="box-sizing: border-box;
                                        width: 24px;
                                        height: 24px;

                                        /* Line/Inactive */

                                        border: 1px solid #CAD6E2;
                                        border-radius: 4px;">
                    <div class="form__label" style="margin:0 90px 0 0;"> Отправляя заявку, я соглашаюсь на обработку
                        своих персональных данных, согласно <br> <b> политике конфиденциальности </b></div>
                    <div class="Button_small_blue">
                        <input class="submit_button" type="submit" value="Отправить заявку">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="calculator_container">
        <h2 class="manrope"> Итоговая стоимость: </h2>
        <div class="manrope" style="font-size:20px;" id="stoimost"></div>

        <div class="manrope" style="margin:100px 0 0px 0px;"> Вы также можете связаться с нами по телефону:</div>
        <h2 class="manrope"> +7(499) 404-04-71 </h2>
    </div>

</div>

<script src="{% static 'js/check.js' %}"></script>
<script src="{% static 'js/tabs.js' %}"></script>
{% endblock %}