{% extends "base.html" %}
{% block title %} Вход {% endblock %}
{% load static %}
{% block content %}

<div class="slider_container">
    <header class="slider manrope">
        Заявка на подключение
    </header>
</div>

<div class="offer_container">

     <div class="offer">
        <div class="nav_offer">
            <a href="/offer/internet+tv" class = "nav_offer_block manrope"> Интернет + ТВ </a>
            <a href="/offer/internet" class = "nav_offer_block manrope"> Интернет </a>
            <a href="/offer/tv" class = "nav_offer_block manrope"> ТВ </a>
            <a href="/offer/hosting" class = "nav_offer_block manrope"> Хостинг </a>
        </div>

         <div class="offer_name manrope">
             ТВ
         </div>

         <label class="switch manrope">
            <input type="checkbox">
            <span class="slider1"></span>
        </label>

        <div class="manrope offer_title">
            Выберите тарифное предложение
        </div>
    </div>




</div>
{% endblock %}