{% extends "base.html" %}
{% block title %} ТВ {% endblock %}
{% load static %}
{% block content %}

<div class="slider_container">
    <header class="slider manrope">
        Заявка на подключение
    </header>
</div>

<div class="offer_container">

    <div class="offer">
        <div class="nav_offer">
            <a href="/offer/internet+tv" class="nav_offer_block manrope"> Интернет + ТВ </a>
            <a href="/offer/internet" class="nav_offer_block manrope"> Интернет </a>
            <a href="/offer/tv" class="nav_offer_block manrope"> ТВ </a>
            <a href="/offer/hosting" class="nav_offer_block manrope"> Хостинг </a>
        </div>

        <div class="offer_name manrope">
            ТВ
        </div>

        <label class="switch manrope">
            <input type="checkbox">
            <span class="slider1"></span>
        </label>

        <div class="manrope offer_title">
            Выберите тарифное предложение
        </div>

        <div class="offer_tariff_container">

            {% for tariff in tariffs %}
            <div class="offer_card_container">
                <div class="offer_card_info" style="margin:0 100px 0 0;">
                    <div class="manrope offer_card_info_title"> {{tariff.name}}</div>
                    <div class="manrope offer_card_info_text"> Wi-Fi роутер бесплатно <br> ТВ-приставка бесплатно</div>
                </div>

                <div class="offer_card_info" style="flex-direction:row;" >
                    <img src="{% static 'img/channels.png'%}"/>
                    <div class="manrope offer_card_info_text"> {{tariff.channels}} каналов </div>
                </div>

                <div class="offer_card_info" style="margin:0 0 0 50px;">
                    <h3 class="manrope"> {{tariff.price}}  </h3>
                    <label class="checkbox-btn manrope">
                            <input  value = "{{tariff.price}}"  onchange="Change(this);" type="checkbox">
                            <span> Выбрать </span>
                    </label>
                </div>

            </div>
            {% endfor %}


        </div>
    </div>

</div>

<div style="display: flex;
                    flex-direction: row; gap:50px;">
    <div class="form_offer_container">
        <h2 class="manrope offer_title">
            Оформите заявку на подключение
        </h2>
        <form method="post">
            {% csrf_token %}
            <div class="form_offer">

                <input type="hidden" name="user_id" value="0" required="" id="id_user_id">

                <input type="hidden" name="date"   id="id_date">
                <div>
                    {{offer_form.name}}
                </div>

                <div>
                    {{offer_form.phone_number}}
                </div>

                <div>
                    {{offer_form.region}}
                </div>

                <div>
                    {{offer_form.city}}
                </div>

                <div>

                 <input type="hidden" id="id_tariff_info"  name ="tariff_info">
                </div>
            </div>

            <div>
                {{offer_form.adress}}
            </div>
            <input class="submit_button" type="submit" value="Отправить заявку">
        </form>
        <div>

        </div>

    </div>
    <div class="calculator_container">
        <h2 class="manrope"> Итоговая стоимость: </h2>
        <div class="manrope" style="font-size:20px;" id="stoimost"></div>

        <div class="manrope" style="margin:100px 0 0px 0px;"> Вы также можете связаться с нами по телефону:</div>
        <h2 class="manrope"> +7(499) 404-04-71 </h2>
    </div>
</div>


<style>

    .offer_container{

        margin: -60px 0 0 0;
    }

</style>


<script>
const v = document.getElementById("id_tariff_info");
function Change(Element) {

	if (Element.checked == true)
        {
             v.value =  "Заявка на ТВ "+ Element.name + " " + Element.value;
             document.getElementById('stoimost').innerHTML = "";
             document.getElementById('stoimost').innerHTML = "Стоимость равна: "+ v.value;
             Element.nextElementSibling.innerHTML = "Выбран";
        }

	else {
	        document.getElementById('stoimost').innerHTML = "";
	        Element.nextElementSibling.innerHTML = "Выбрать";
	      }
}

</script>
{% endblock %}