{% extends "base.html" %}
{% block title %} SoNet {% endblock %}
{% load static %}
{% block content %}

<div class="slider_container">
    <header class="slider manrope">
        Цифровые услуги для бизнеса и жизни
    </header>
</div>

<section class="banners">
    <div class="card_promotion_1_container">
        <div class="cp_content_container manrope">

            <article class="cp_content_header manrope"> Роутер в подарок к пакету Интернет + ТВ</article>

            <div class="cp_content_main"> Подключите любой пакет услуг Интернет+ТВ до конца этого года и получите
                бесплатный роутер
            </div>

            <div class="cp_content_button Button_blue"><a href="#"> Выбрать пакет услуг </a></div>

        </div>
    </div>

    <div class="card_promotion_2_container">

        <div class="cp_content_container manrope">

            <article class="cp_content_header manrope"> Получите 3 месяца бесплатного интернета</article>

            <div class="cp_content_main"> Подключите любой наш тариф безлимитного интернета в вашу квартиру и получайте
                бонусы!
            </div>

            <div class="cp_content_button Button_blue"><a href="#"> Подключить тариф </a></div>

        </div>
    </div>
</section>

<section class="about_container">

    <div class="cards">

        <div class="card_category_1_container">
            <div class="cc_content_container manrope">
                <article class="cc_content_header manrope"> Интернет</article>
                <div class="cc_content_main manrope"> Тарифы со скоростью до 500 мб\с</div>

                <div class="cc_content_text manrope"> Это возможность заменить старый CAM-модуль или приставку на новую
                    по
                    специальной цене и на год просмотра получить скидку.
                </div>

            </div>
        </div>

        <div class="card_category_2_container">

            <div class="cc_content_container manrope">

                <article class="cc_content_header manrope"> Телевидение</article>

                <div class="cc_content_main manrope"> Более 200 каналов всего за 1000 рублей на целый год</div>

                <div class="cc_content_text manrope"> Это возможность заменить старый CAM-модуль или приставку на новую
                    по
                    специальной цене и на год просмотра получить скидку
                </div>

                <div class="cc_content_small">
                    Предложение действует с 19.07.2022 по 31.12.2022.
                </div>

            </div>
        </div>
        <div class="card_category_3_container">
            <div class="cc_content_container manrope">

                <article class="cc_content_header manrope"> Хостинг услуги</article>

                <div class="cc_content_main manrope"> Стабильное соединение, удобный инструмент управления</div>

                <div class="cc_content_text manrope"> Свой дата-центр, IT-инфраструктура для проектов любой сложности,
                    оборудование в наличии
                </div>

                <div class="cc_content_small manrope">
                    Предложение действует с 19.07.2022 по 31.12.2022.
                </div>

            </div>

        </div>

    </div>
</section>

<section class="about manrope">

    <div class="about_header_container">
        <header> Коротко о нас</header>
    </div>

    <div class="card_about_container">
        <div class="card_about_1_container">
            <div class="ca_content_container manrope">
                <article class="ca_content_header manrope"> Повышение качества обслуживания</article>
                <div class="ca_content_main manrope"> Ежедневно мы работаем над тем, чтобы в этом потоке Вы могли
                    уделять время своим партнерам, друзьям, любимым… Мы стараемся учитывать изменения ситуации на рынке
                    и пожелания наших клиентов для обновления тарифов, проведения акций, внедрения новых услуг
                </div>

            </div>
        </div>

        <div class="card_about_2_container">
            <div class="ca_content_container manrope">
                <article class="ca_content_header manrope"> Наши преимущества</article>
                <div class="ca_content_main manrope">

                    <ul>

                        <li> Cтандарту надежности Tier III;</li>
                        <li> Cертификат безопасности PCI DSS;</li>
                        <li> Бесплатная техподдержка.</li>

                    </ul>


                </div>

            </div>
        </div>

        <div class="card_about_3_container">
            <div class="ca_content_container manrope">

                <article class="ca_content_header manrope"> Храним данные по 152-ФЗ</article>
                <div class="ca_content_main manrope"> Наша инфраструктура соответствует 152-ФЗ. Это значит, что все
                    данные мы храним и обрабатываем по закону. Вы можете гарантировать своим клиентам сохранность личной
                    информации.
                </div>


            </div>
        </div>

        <div class="card_about_4_container">
            <div class="ca_content_container manrope">
                <article class="ca_content_header manrope"> Техническая поддержка 24/7/365 </article>
                <div class="ca_content_main manrope"> Круглосуточная техническая поддержка по телефону и в личном
                    кабинете, а также услугу удаленного обслуживания. Среднее время ответа на обращение составляет не
                    более 10 минут.
                </div>


            </div>
        </div>
    </div>
</section>

<section class="more manrope">

    <div class="more_header_container">
        <header> Дополнительные возможности наших абонентов </header>
    </div>

    <div class="card_more_container">
        <div class="card_more_1_container">
            <div class="cm_content_container manrope">

                <div class="pic_more1 zoom">
                     <img src="{% static 'img/more1.png' %}"  alt="Картинка"/>
                </div>
                <article class="cm_content_header manrope"> Мобильное приложение </article>

                <div class="cm_content_main manrope"> Управление услугами и пополнение баланса из нашего приложения в пару кликов

                </div>

            </div>
        </div>

        <div class="card_more_2_container">
            <div class="cm_content_container manrope">

                <div class="pic_more2 zoom ">
                    <img src="{% static 'img/more2.png' %}"  alt="Картинка"/>
                </div>

                <article class="cm_content_header manrope"> Выделенные сервера. Расскажем, что важно знать при выборе </article>

                <div class="cm_content_main manrope"> Подпишитесь на безопасность </div>


            </div>
        </div>

        <div class="card_more_3_container">
            <div class="cm_content_container manrope">

                <div class="pic_more3 zoom">
                    <img src="{% static 'img/more3.png' %}"  alt="Картинка"/>
                </div>

                <article class="cm_content_header manrope"> Безопасность </article>

                <div class="cm_content_main manrope"> Наше оборудование защищено от взлома

                </div>

            </div>
        </div>

        <div class="card_more_4_container">
            <div class="cm_content_container manrope">

                <div class="pic_more4 zoom">
                    <img src="{% static 'img/more4.png' %}"  alt="Картинка"/>
                </div>

                <article class="cm_content_header manrope"> Все цифровые сервисы </article>

                <div class="cm_content_main manrope"> Ознакомьтесь со всеми нашими цифровыми сервисами </div>
            </div>
        </div>
    </div>
</section>

<section class="connection">
    <text>

                <article class="connection_header manrope"> Подключайтесь уже сейчас </article>

                <div class="connection_content manrope"> Выгодные предложения для новых пользователей </div>

                <div class="cp_content_button Button_blue"><a href="#"> Попробовать бесплатно </a></div>

    </text>
</section>

<section class="que">

<div id="accordion" class="accordion">

        <div class="que_header manrope"> Часто задаваемые вопросы </div>

    <div class="accordion__item manrope">
      <div class="accordion__header manrope">
        Как это работает?
      </div>
      <div class="accordion__body manrope">
        <div class="accordion__content manrope">
          Создали большую базу знаний с информацией про продукты, их настройку и управление. А для разработчиков — отдельный портал по автоматизации IT-инфраструктуры. Все на русском языке.
        </div>
      </div>
    </div>

    <div class="accordion__item manrope">
      <div class="accordion__header manrope">
        Как подключить домашний интернет?
      </div>
      <div class="accordion__body manrope">
        <div class="accordion__content manrope">
          Создали большую базу знаний с информацией про продукты, их настройку и управление. А для разработчиков — отдельный портал по автоматизации IT-инфраструктуры. Все на русском языке.
        </div>
      </div>
    </div>

    <div class="accordion__item manrope">
      <div class="accordion__header manrope">
        Как действуют тарифы на подключение интернета?
      </div>
      <div class="accordion__body manrope">
        <div class="accordion__content manrope">
          Создали большую базу знаний с информацией про продукты, их настройку и управление. А для разработчиков — отдельный портал по автоматизации IT-инфраструктуры. Все на русском языке.
        </div>
      </div>
    </div>

    <div class="accordion__item manrope ">
      <div class="accordion__header manrope">
        Преимущества безлимитного интернета SONET
      </div>
      <div class="accordion__body manrope">
        <div class="accordion__content manrope">
          Создали большую базу знаний с информацией про продукты, их настройку и управление. А для разработчиков — отдельный портал по автоматизации IT-инфраструктуры. Все на русском языке.
        </div>
      </div>
    </div>

    <div class="accordion__item manrope">
      <div class="accordion__header manrope">
        Как узнать, можно ли подключить в доме интернет SONET?
      </div>
      <div class="accordion__body manrope">
        <div class="accordion__content manrope">
          Создали большую базу знаний с информацией про продукты, их настройку и управление. А для разработчиков — отдельный портал по автоматизации IT-инфраструктуры. Все на русском языке.
        </div>
      </div>
    </div>

  </div>
</section>

<section class="news">

{% block pagination %}
    <!--<p>
        Current Page: <b id="current"> {{page_obj.number}} </b>
    </p>-->

    <!--<nav>
        <a href=# id="prev">

        </a>
        <a href=# id="next">

        </a>
    </nav>-->

<div class="news_cards">
{% for contact in page_obj %}

<div id="keywords"></div>

            <div class='news_container'>

                <div class="news_content">

                    <div class="news_label">
                        <img src="{% static 'img/news_date_icon.png' %}"  width="16px" height="16"  alt="Картинка"/>
                        <div  class="pub_date manrope">  {{ contact.pub_date}}  </div>
                    </div>

                    <!--<div class="news_type">
                        <img src="{% static 'img/news_type_icon.png' %}"  width="16px" height="16"  alt="Картинка"/>
                        <div class="pub_date manrope">  {{ el.pub_date}}  </div>
                    </div>-->

                <div> <img src="{{contact.news_url}}" alt="Картинка" width="393px" height="240"/> </div>


                    <div class="news_name manrope"> {{ contact.news_name }} </div>


                <div class="news_anno manrope"> {{ contact.news_anno}} </div>

                </div>

            </div>

    {% endfor %}
</div>


{% endblock %}

</section>



{% endblock %}
