{% extends "base.html" %}
{% block title %} SoNet {% endblock %}
{% load static %}
{% block content %}


<div class="slider_container">
    <header class="slider manrope">
        Цифровые услуги для бизнеса и жизни
    </header>
</div>

<section class="banners">
    <div class="card_promotion_1_container">
        <div class="cp_content_container manrope">

            <article class="cp_content_header manrope"> Роутер в подарок к пакету Интернет + ТВ</article>

            <div class="cp_content_main"> Подключите любой пакет услуг Интернет+ТВ до конца этого года и получите
                бесплатный роутер
            </div>

            <div class="cp_content_button Button_blue"><a href="#"> Выбрать пакет услуг </a></div>

        </div>
    </div>

    <div class="card_promotion_2_container">

        <div class="cp_content_container manrope">

            <article class="cp_content_header manrope"> Получите 3 месяца бесплатного интернета</article>

            <div class="cp_content_main"> Подключите любой наш тариф безлимитного интернета в вашу квартиру и получайте
                бонусы!
            </div>

            <div class="cp_content_button Button_blue"><a href="#"> Подключить тариф </a></div>

        </div>
    </div>
</section>

<section class="about_container">

    <div class="cards">

        <div class="card_category_1_container">
            <div class="cc_content_container manrope">
                <article class="cc_content_header manrope"> Интернет</article>
                <div class="cc_content_main manrope"> Тарифы со скоростью до 500 мб\с</div>

                <div class="cc_content_text manrope"> Это возможность заменить старый CAM-модуль или приставку на новую
                    по
                    специальной цене и на год просмотра получить скидку.
                </div>

            </div>
        </div>

        <div class="card_category_2_container">

            <div class="cc_content_container manrope">

                <article class="cc_content_header manrope"> Телевидение</article>

                <div class="cc_content_main manrope"> Более 200 каналов всего за 1000 рублей на целый год</div>

                <div class="cc_content_text manrope"> Это возможность заменить старый CAM-модуль или приставку на новую
                    по
                    специальной цене и на год просмотра получить скидку
                </div>

                <div class="cc_content_small">
                    Предложение действует с 19.07.2022 по 31.12.2022.
                </div>

            </div>
        </div>
        <div class="card_category_3_container">
            <div class="cc_content_container manrope">

                <article class="cc_content_header manrope"> Хостинг услуги</article>

                <div class="cc_content_main manrope"> Стабильное соединение, удобный инструмент управления</div>

                <div class="cc_content_text manrope"> Свой дата-центр, IT-инфраструктура для проектов любой сложности,
                    оборудование в наличии
                </div>

                <div class="cc_content_small manrope">
                    Предложение действует с 19.07.2022 по 31.12.2022.
                </div>

            </div>

        </div>

    </div>
</section>

<section class="about manrope">

    <div class="about_header_container">
        <header> Коротко о нас</header>
    </div>

    <div class="card_about_container">
        <div class="card_about_1_container">
            <div class="ca_content_container manrope">
                <article class="ca_content_header manrope"> Повышение качества обслуживания</article>
                <div class="ca_content_main manrope"> Ежедневно мы работаем над тем, чтобы в этом потоке Вы могли
                    уделять время своим партнерам, друзьям, любимым… Мы стараемся учитывать изменения ситуации на рынке
                    и пожелания наших клиентов для обновления тарифов, проведения акций, внедрения новых услуг
                </div>

            </div>
        </div>

        <div class="card_about_2_container">
            <div class="ca_content_container manrope">
                <article class="ca_content_header manrope"> Наши преимущества</article>
                <div class="ca_content_main manrope">

                    <ul>

                        <li> Cтандарту надежности Tier III;</li>
                        <li> Cертификат безопасности PCI DSS;</li>
                        <li> Бесплатная техподдержка.</li>

                    </ul>


                </div>

            </div>
        </div>

        <div class="card_about_3_container">
            <div class="ca_content_container manrope">

                <article class="ca_content_header manrope"> Храним данные по 152-ФЗ</article>
                <div class="ca_content_main manrope"> Наша инфраструктура соответствует 152-ФЗ. Это значит, что все
                    данные мы храним и обрабатываем по закону. Вы можете гарантировать своим клиентам сохранность личной
                    информации.
                </div>


            </div>
        </div>

        <div class="card_about_4_container">
            <div class="ca_content_container manrope">
                <article class="ca_content_header manrope"> Техническая поддержка 24/7/365</article>
                <div class="ca_content_main manrope"> Круглосуточная техническая поддержка по телефону и в личном
                    кабинете, а также услугу удаленного обслуживания. Среднее время ответа на обращение составляет не
                    более 10 минут.
                </div>


            </div>
        </div>
    </div>
</section>

<section class="more manrope">

    <div class="more_header_container">
        <header> Дополнительные возможности наших абонентов </header>
    </div>

    <div class="card_more_container">
        <div class="card_more_1_container">
            <div class="cm_content_container manrope">

                <div class="pic_more1">
                     <img src="{% static 'img/more1.png' %}"  alt="Картинка"/>
                </div>
                <article class="cm_content_header manrope"> Мобильное приложение </article>

                <div class="cm_content_main manrope"> Управление услугами и пополнение баланса из нашего приложения в пару кликов

                </div>

            </div>
        </div>

        <div class="card_more_2_container">
            <div class="cm_content_container manrope">

                <div class="pic_more2">
                    <img src="{% static 'img/more2.png' %}"  alt="Картинка"/>
                </div>

                <article class="cm_content_header manrope"> Выделенные сервера. Расскажем, что важно знать при выборе </article>

                <div class="cm_content_main manrope"> Подпишитесь на безопасность </div>


            </div>
        </div>

        <div class="card_more_3_container">
            <div class="cm_content_container manrope">

                <div class="pic_more3">
                    <img src="{% static 'img/more3.png' %}"  alt="Картинка"/>
                </div>

                <article class="cm_content_header manrope"> Безопасность </article>

                <div class="cm_content_main manrope"> Наше оборудование защищено от взлома

                </div>


            </div>
        </div>

        <div class="card_more_4_container">
            <div class="cm_content_container manrope">

                <div class="pic_more4">
                    <img src="{% static 'img/more4.png' %}"  alt="Картинка"/>
                </div>

                <article class="cm_content_header manrope"> Все цифровые сервисы </article>

                <div class="cm_content_main manrope"> Ознакомьтесь со всеми нашими цифровыми сервисами </div>
            </div>
        </div>
    </div>
</section>

<section class="connection">
    <text>

                <article class="connection_header manrope"> Подключайтесь уже сейчас </article>

                <div class="connection_content manrope"> Выгодные предложения для новых пользователей </div>

                <div class="cp_content_button Button_blue"><a href="#"> Попробовать бесплатно </a></div>

    </text>
</section>



{% endblock %}
