.Button_small_blue{

         display: flex;
         flex-direction: row;
         align-items: flex-start;
          position: absolute;
}

.Button_small_blue a{

    padding: 8px 16px;
    gap: 10px;

    text-decoration:none;
    background: #8CC628;
    color: #FFFFFF;
    border-radius: 4px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;

    flex: none;
    order: 0;
    flex-grow: 0;

}
.Button_small_blue a:hover {
    background: #8CC628;
    box-shadow: 0px 12px 16px rgba(140, 198, 40, 0.25);
    border-radius: 4px;
    }

.Button_small_blue a:onclik {

    background: #8CC628;
    box-shadow: 0px 12px 16px rgba(140, 198, 40, 0.25);
    border-radius: 4px;
    }



.Button_blue a {

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 12px 24px;
        gap: 10px;
        text-decoration:none;

        font-family: 'Manrope';

        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */


        /* White/White */

        color: #FFFFFF;

        background: #8CC628;
        border-radius: 6px;

}

.Button_blue a:hover {

            background: #8CC628;
            box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.15);
            border-radius: 6px;

}

.Button_border_primary a {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 12px 24px;
        gap: 10px;

        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;


        color: #03213C;

        border: 1px solid #03213C;
        border-radius: 6px;
}

.Button_border_primary a:hover {

            background: #03213C;
            color: #FFFFFF;
}


/*
button for home or flat */

.switch {
  position: relative;
  display: inline-block;
  width: 157px;
  height: 44px;

  order: 2;
  align-self: stretch;
  flex-grow: 0;

}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider1 {
  position: absolute;
  cursor: pointer;
  dispay:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: 60px;
  -webkit-transition: .4s;
  transition: .4s;


}

.slider1:before {
  position: absolute;
  dispay:flex;
  text-align:center;
  content: "Дом";
  width: 81px;
  height: 32px;
  left: 4px;
  bottom: 4px;
  border-radius: 60px;
  padding:2px;

  background: #8CC628;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider1 {

}

input:focus + .slider1 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider1:before {

   content: "Квартира";
  -webkit-transform: translateX(65px);
  -ms-transform: translateX(65px);
  transform: translateX(65px);
}
