html {
    position: relative;
    width: 1920px;
    height: 4322px;

    background: #FFFFFF;
}


navbar_header{
    display:flex;
}

nav_header-container{
    position: absolute;
    width: 1920px;
    height: 28px;
    left: 0px;
    top: 0px;
}


.manrope_600 a {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #979FA7;
    text-decoration:none;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;

    position: absolute;
    width: 217px;
    height: 25px;
    left: 260px;
    top: 0px;
}

.support{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 475px;
    height: 25px;
    left: 497px;
    top: 0px;

}

.social_media{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 193px;
    height: 19px;
    right: 260px;
    top: 0px;
}


.line{
    position: absolute;
    width: 1920px;
    height: 1px;
    left: 0px;
    top: 27px;

    background: #E3EAF1;
}

.navbar {
    display:flex;
}


.nav-container {
    display:flex;
    position: absolute;
    width: 1400px;
    height: 30px;
    left: 260px;
    top: 48px;
}


.logo img{
    position: absolute;
    left: 0px;
    top: -5px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    position: absolute;
    width: 631px;
    height: 19px;
    left: 237px;
    top: 4px;

}

.menuitem {
        flex: none;
        order: 0;
        flex-grow: 0;
}

        @font-face {
          font-family: 'Manrope';;
          src: local("../fonts/Manrope-Regular.ttf"), url("../fonts/Manrope-Regular.ttf") format("truetype");
          font-weight: 400;
          font-style: normal;
        }


.menuitem a {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #03213C;

}

.menuitem a:hover {

    transition:0.1s;
    color: #1A78CF;
}

service_requests{

}


footer{
    position: absolute;
    width: 1920px;
    height: 415px;
    left: 0px;
    top: 3907px;

    background: #E3EAF1;
    border-radius: 60px 60px 0px 0px;
}

.footer_content{

    position: absolute;
    width: 1282px;
    height: 295px;
    left: 260px;
    top: 40px;
}

.menu_footer{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    position: absolute;
    width: 335px;
    height: 225px;
    left: 0px;
    top: 70px;
}
.footeritem a {

        width: 135px;
        height: 25px;

        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

        color: #03213C;

}

.footeritem a:hover {

    transition:0.1s;
    color: #1A78CF;
}


.help_footer{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 335px;
    height: 146px;
    left: 473px;
    top: 70px;
}


.footer_help_header{
    width: 335px;
    height: 25px;

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #03213C;
}

.footer_help_text{

    width: 335px;
    height: 38px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #03213C;
}

.footer_help_number{

    width: 335px;
    height: 33px;

    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: #03213C;
}

.footer_help_email{

    width: 335px;
    height: 25px;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #03213C;
}


.socials_footer{

    position: absolute;
    width: 193px;
    height: 19px;
    right: 616px;
    top: 256px;
}

.socials_footer a{

    color: #979FA7;

}

.news_footer{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 335px;
    height: 158px;
    left: 947px;
    top: 70px;
}

.footer_button{
   position: absolute;
   top: 110px;
}



.logo{
    position: absolute;
    width: 134px;
    height: 34px;
    left: 0px;
    top: 0px;
}


.accounts{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 143px;
    height: 24px;
    right: 0px;
    top: 3px;

}

.accounts a{

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration:none;

    color: #03213C;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.slider_container {

    position: absolute;
    width: 1920px;
    height: 400px;
    left: 0px;
    top: 108px;

    /* Secondary/Secondary */

    background: #1A78CF;

    z-index:-100;
}

.slider{
    position: absolute;
    width: 723px;
    height: 148px;
    left: 260px;
    top: 60px;

    font-weight: 400;
    font-size: 54px;
    line-height: 74px;


    color: #FFFFFF;
}


.banners{

    position: absolute;
    width: 1400px;
    height: 348px;
    left: 260px;
    top: 376px;

    border-radius: 30px;

}
.card_promotion_1_container{

        position: absolute;
        width: 690px;
        height: 348px;
        left: 0px;
        top: 0px;

        background: linear-gradient(95.43deg, #F5CCFF -6.56%, #FFD8D8 110.48%);
        border-radius: 30px;
        transition:0.2s;

        /* Inside auto layout */

        flex: none;
        order: 3;
        flex-grow: 0;
        z-index: 0;
}

.card_promotion_1_container:hover {
    position: absolute;
    top: -10px;
    transition:0.2s;
    box-shadow: 0px 40px 48px -15px rgba(62, 91, 160, 0.35);
}

.cp_content_container{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 460px;
    height: 228px;
    left: 60px;
    top: 60px;


    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 2;
}

.cp_content_header{
        width: 460px;
        height: 98px;


        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
        color: #03213C;

        flex: none;
        order: 0;
        flex-grow: 0;
}

.cp_content_main{

    width: 400px;
    height: 44px;


    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #03213C;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.cp_content_button{

        flex: none;
        order: 2;
        flex-grow: 0;
}

.card_promotion_2_container
{
            position: absolute;
            width: 690px;
            height: 348px;
            left: 710px;
            top: 0px;

            background: linear-gradient(95.43deg, #D5E2FF -6.56%, #E7F3FF 110.48%);
            border-radius: 30px;
            transition:0.2s;

            flex: none;
            order: 2;
            flex-grow: 0;
            z-index: 0;
}


.card_promotion_2_container:hover {
    position: absolute;
    top: -10px;
    transition:0.2s;
    box-shadow: 0px 40px 48px -15px rgba(62, 91, 160, 0.35);
}

.about_container{
            position: absolute;
            width: 1920px;
            height: 690px;
            left: 0px;
            top: 435px;
            /* BG/Light */
            background: #F3F6F9;
            border-radius: 60px;

            z-index:-50;
        }


.cards{
            position: absolute;
            width: 1400px;
            height: 281px;
            left: 260px;
            top: 369px;
}

.card_category_1_container{

            position: absolute;
            width: 453px;
            height: 281px;
            left: 0px;
            top: 0px;
            transition:0.2s;

            background: #03213C;
            border-radius: 30px;
}

.card_category_1_container:hover {
    position: absolute;
    top: -10px;
    transition:0.2s;
    box-shadow: 0px 40px 48px -15px rgba(62, 91, 160, 0.35);
}

.card_category_2_container{
            position: absolute;
            width: 453px;
            height: 281px;
            left: 473px;
            top: 0px;

            transition:0.2s;

            background: #03213C;
            border-radius: 30px;
}


.card_category_2_container:hover {
    position: absolute;
    top: -10px;
    transition:0.2s;
    box-shadow: 0px 40px 48px -15px rgba(62, 91, 160, 0.35);
}


.card_category_3_container{

            position: absolute;
            width: 453px;
            height: 281px;
            left: 947px;
            top: 0px;

            transition:0.2s;

            background: #03213C;
            border-radius: 30px;
}

.card_category_3_container:hover {
    position: absolute;
    top: -10px;
    transition:0.2s;
    box-shadow: 0px 40px 48px -15px rgba(62, 91, 160, 0.35);
}

.cc_content_container{

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 10px;

            position: absolute;
            width: 300px;
            height: 131px;
            left: 30px;
            top: 25px;

}

.cc_content_header{

            width: 200px;
            height: 33px;

            font-weight: 600;
            font-size: 24px;
            line-height: 33px;

            color: #FFFFFF;

            flex: none;
            order: 0;
            flex-grow: 0;
}

.cc_content_main{
            width: 300px;
            max-height: 50px;

            font-weight: 600;
            font-size: 18px;
            line-height: 25px;

            color: #FFFFFF;

            flex: none;
            order: 0;
            flex-grow: 0;
}

.cc_content_text{

            width: 300px;
            max-height: 70px;

            font-weight: 400;
            font-size: 14px;
            line-height: 19px;


            color: #FFFFFF;

            flex: none;
            order: 1;
            flex-grow: 0;

}

.cc_content_small{

            width: 300px;
            max-height: 16px;

            font-weight: 400;
            font-size: 12px;
            line-height: 16px;


            color: #81909E;

            flex: none;
            order: 2;
            flex-grow: 0;
}

.about {
            position: absolute;
            width: 1400px;
            height: 418px;
            left: 260px;
            top: 1165px;
}


.about_header_container{

position: absolute;
            width: 238px;
            height: 49px;
            left: 581px;
            top: 0px;
}
.about header{

            font-weight: 400;
            font-size: 36px;
            line-height: 49px;
            text-align: center;


            color: #03213C;

}


.card_about_container{

    position: absolute;
    width: 1398px;
    height: 339px;
    left: 0px;
    top: 79px;
}

.card_about_1_container{


            position: absolute;
            width: 335px;
            height: 334px;
            left: 0px;
            top: 0px;

            background: #F3F6F9;
            border-radius: 30px;
}

.card_about_2_container{
            position: absolute;
            width: 335px;
            height: 334px;
            left: 355px;
            top: 0px;

            background: #F3F6F9;
            border-radius: 30px;
}

.card_about_2_container ul{

          list-style:none;
          margin:0;
          padding: 0;
}


 .card_about_2_container li:before{
          content: '';
          display: inline-block;
          height:3px;
          width: 3px;
          vertical-align: middle;
          border-radius:50%;
          background-color:#000;
          margin-right:5px;
}

.card_about_3_container{

            position: absolute;
            width: 335px;
            height: 334px;
            left: 710px;
            top: 0px;

            background: #F3F6F9;
            border-radius: 30px;
}


.card_about_4_container{

            position: absolute;
            width: 335px;
            height: 334px;
            left: 1065px;
            top: 0px;

            background: #F3F6F9;
            border-radius: 30px;
}

.ca_content_container{

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 30px;
            gap: 10px;

}
.ca_content_header{

            width: 273px;
            max-height: 66px;


            font-weight: 600;
            font-size: 24px;
            line-height: 33px;

            color: #03213C;

            flex: none;
            order: 0;
            flex-grow: 0;
}

.ca_content_main{

            width: 273px;
            height: 198px;

            font-weight: 400;
            font-size: 16px;
            line-height: 22px;


            color: #03213C;

            flex: none;
            order: 1;
            flex-grow: 0;
}

.more {

        position: absolute;
        width: 1400px;
        height: 573px;
        left: 260px;
        top: 1663px;

}
.more_header_container{

    position: absolute;
    width: 842px;
    height: 49px;
    left: 279px;
    top: 0px;

}
.more header{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;

    color: #03213C;
}
.card_more_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 1400px;
    height: 494px;
    left: 0px;
    top: 79px;
}

.pic_more{
    position: absolute;
    width: 335px;
    height: 405px;
    left: 0px;
    top: 0px;
    background: url('../img/more1.png');
    order: 0;
}
.card_more_1_container{
            width: 335px;
            height: 494px;


            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
}


.card_more_2_container{
      width: 335px;
      height: 494px;


      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
}

.card_more_3_container{
     width: 335px;
     height: 494px;

     flex: none;
     order: 2;
     align-self: stretch;
     flex-grow: 0;
}

.card_more_4_container{
    width: 335px;
    height: 494px;

    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}


.cm_content_container{

    /*position:absolute;
    top:420px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;




}

.zoom{
             width: 335px;
            height: 405px;
            overflow: hidden;
            margin: 0 auto;
            border-radius:16px;
}

.zoom img {
     width: 100%;
     transition: 0.2s all ease-in-out;
}

.zoom:hover img{
     transform: scale(1.05);
     transition: 0.2s all ease-in-out;

}



.cm_content_header{

    width: 300px;
    max-height: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding-top:15px;
    padding-bottom:5px;

    color: #03213C;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cm_content_main{

    width: 335px;
    max-height: 38px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #81909E;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.connection{
    position: absolute;
    width: 1400px;
    height: 267px;
    left: 260px;
    top: 2316px;

    background: #1A78CF;
    border-radius: 30px;
}

.connection text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;

    position: absolute;
    width: 509px;
    height: 147px;
    left: 60px;
    top: 60px;
}

.connection_header{
    width: 509px;
    height: 49px;

    font-weight: 400;
    font-size: 36px;
    line-height: 49px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.connection_content{
    width: 509px;
    height: 22px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.news{
    position: absolute;
    width: 1920px;
    height: 890px;
    left: 0px;
    top: 3143px;

    background: #F3F6F9;
    border-radius: 60px;
    z-index:-1;
}

.que{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px 60px 40px 130px;
    gap: 40px;

    position: absolute;
    width: 926px;

    left: 450px;
    top: 2663px;

    background: #F3F6F9;
    border-radius: 30px;
    }

.news{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    background: #F3F6F9;
    border-radius: 60px;
}

.news_container{
    width: 453px;
    height: 565px;

    background: #FFFFFF;
    border-radius: 30px;

    flex: none;
    flex-grow: 0;
}

.news_cards{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 1399px;
    height: 644px;
    left: 260px;
    top: 119px;
}

.news_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 10px;

    width: 393px;
    height: 505px;
}

.pub_date{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding:0px;
    margin:0px;

    color: #81909E;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.news_name{
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;

      color: #03213C;

      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;

}

.news_anno{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        color: #03213C;

        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
}

.news_nav{
        position: absolute;
        width: 334px;
        height: 48px;
        left: 260px;
        top: 40px;
}
.last_news{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px;
    gap: 10px;

    font-weight: 400;
    font-size: 36px;
    line-height: 49px;

    color: #03213C;

    flex: none;
    flex-grow: 0;

    position: absolute;
    width: 375px;
    height: 49px;
    left: 0px;
    top: 0px;
}

.accordion{

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /*gap: 32px;*/
    width: 806px;

    flex: none;
    order: 0;
    flex-grow: 1;
}
.accordion__item {
      box-shadow: 0 0.05rem  rgb(0 0 0 / 15%);
    }

    .accordion__header {


        width:806px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.75rem 1rem;
      color: #03213C;
      font-weight: 600;
      font-size:18px;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      cursor: pointer;
      transition: background-color 0.2s ease-out;
    }

    .accordion__header::before {
      position: absolute;
      left:110px;
      width: 1.2rem;
      height: 1.2rem;
      margin-left: auto;
      background:url('../img/accordion_arrow.png');
      background-repeat: no-repeat;
      background-size: 1.2rem;
      content: "";
      transition: transform 0.1s ;
    }

    .accordion__item_show .accordion__header::before,
    .accordion__item_slidedown .accordion__header::before {
      transform: rotate(-180deg);
    }

    .accordion__header:hover {
      color: #609800;
      transition: 0.1;
    }

    .accordion__item:not(.accordion__item_show) .accordion__header {
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    .accordion__content {

      width:806px;
      padding: 0.75rem 1rem;
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    .accordion__item:not(.accordion__item_show) .accordion__body {
      display: none;
    }

    .que_header{
        width: 806px;
        height: 49px;

        font-weight: 400;
        font-size: 36px;
        line-height: 49px;

        color: #03213C;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

   /* стили для услуг*/

.offer_container{
        position: absolute;
        width: 1920px;
        left: 0px;
        top: 303px;
        min-height: 450px;
        margin: 0 auto;
        /* BG/Light */

        background: #F3F6F9;
        border-radius: 60px
        }
.offer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 30px 260px ;
}

.nav_offer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 12px 24px;
        gap: 40px;
        width:480px;

        background: #FFFFFF;
        border-radius: 43px;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

}

.nav_offer_block{
        padding:12px;
        /* Text/Bold */
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        /* Secondary/Secondary */
        color: #81909E;
        /* Inside auto layout */
        transition:0.1s;

        flex: none;
        order: 0;
        flex-grow: 0;
}

.nav_offer_block:hover {
    color: #1A78CF;
    transition:0.1s;
}

.offer_name{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #03213C;

    flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
}


.offer_title{
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: #03213C;

    flex: none;
    order: 3;
    flex-grow: 0;
}

.offer_tariff_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: 1400px;
    min-height: 280px;
    gap: 20px;

    order: 4;
    flex-grow: 0;

}

.offer_card_container{
    width: 690px;
    height: 130px;


    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;

    background: #FFFFFF;
    border-radius: 16px;
}

.offer_card_info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 0 30px 0 ;
        margin: 0 0 0 20px;
        gap: 10px;
}

.offer_card_info_title{
    font-weight: 400;
    font-size: 18px;

    color: #03213C;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}



.offer_card_info_text{
    font-weight: 400;
    font-size: 12px;

    color: #81909E;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.form_offer_container{
    order:2;
}

.form_offer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap:20px
    }

.input_offer{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width:335px;
    padding: 14px 24px;

    background: #F3F6F9;
    border-radius: 4px;

}

select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 24px;
    min-width:385px;
    gap: 10px;

    background: #F3F6F9;
    border-radius: 4px;

}

.offer_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}