html {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
}
/* это все дальше хедер */

.navbar_header{
    width:100%;

    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 100px;
}

.manrope_600 a {

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #979FA7;
    text-decoration:none;
}

.location {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 5px;
    order:1;
}

.support{
    display: flex;
    flex-direction: row;

    padding: 0px;
    gap: 20px;
    order:2;
}

.social_media{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    order:3;
}

.line{
   background: #E3EAF1;
   height:1px;
}

.navbar {
    display:flex;
}

.nav-container {
    width:100%;

    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 200px;
}

.logo img{

}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
}

.menuitem {
        flex: none;
        order: 0;
        flex-grow: 0;
}

        @font-face {
          font-family: 'Manrope';;
          src: local("../fonts/Manrope-Regular.ttf"), url("../fonts/Manrope-Regular.ttf") format("truetype");
          font-weight: 400;
          font-style: normal;
        }


.menuitem a {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #03213C;

}

.menuitem a:hover {

    transition:0.1s;
    color: #1A78CF;
}

service_requests{

}

/* хедер закончился */

/* это все дальше футер */
footer{
    width: 100%;
    height: 415px;

    background: #E3EAF1;
    border-radius: 60px 60px 0px 0px;
    order:100;
}

.footer_content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 70px;
    gap: 200px;
}

.menu_footer{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}
.footeritem a {

        width: 100%;
        height: 25px;

        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

        color: #03213C;
}

.footeritem a:hover {

    transition:0.1s;
    color: #1A78CF;
}


.help_footer{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin:50px 0 0 0;
    gap: 10px;

}


.footer_help_header{
    width: 100%;
    height: 25px;

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;

    color: #03213C;
}

.footer_help_text{

    width: 100%;
    height: 38px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #03213C;
}

.footer_help_number{

    width: 100%;
    height: 33px;

    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: #03213C;
}

.footer_help_email{

    width: 100%;
    height: 25px;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #03213C;
}


.socials_footer{

}

.socials_footer a{

    color: #979FA7;

}

.news_footer{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin:50px 0 0 0;
    gap: 10px;


}
.footer_button{

}
.logo{

}
.accounts{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.accounts a{

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration:none;

    color: #03213C;

    flex: none;
    order: 1;
    flex-grow: 0;
}
/* футер закончился */

.slider_container {

    max-width: 100%;
    height: 400px;

    /* Secondary/Secondary */
    background: #1A78CF;
    order:0;
    z-index:-100;
}

.slider{
    padding:100px;
    font-weight: 400;
    font-size: 54px;
    line-height: 74px;

    color: #FFFFFF;
}

.banners{
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    align-items: center;
    justify-content: center;

    padding: 0px;
    margin:-50px 0 50px 0px;
    gap: 20px;

}
.card_promotion_container{
        min-width:420px;
        max-width:50%;

        display: flex;
        padding:60px 120px;
        background: linear-gradient(95.43deg, #F5CCFF -6.56%, #FFD8D8 110.48%);
        border-radius: 30px;
        transition:0.2s;
        /* Inside auto layout */
        flex-grow: 0;
        z-index: 0;
}

.card_promotion_container:hover {
    transform: translateY(-10px);
    transition:0.2s;
    box-shadow: 0px 40px 48px -15px rgba(62, 91, 160, 0.35);
}

.cp_content_container{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    order: 1;
    flex-grow: 0;
    z-index: 2;
}

.cp_content_header{
        max-width: 100%;
        max-height: 98px;

        display: flex;
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
        color: #03213C;

        order: 0;
        flex-grow: 0;
}

.cp_content_main{

    width: 100%;
    max-height:44px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #03213C;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.cp_content_button{

        flex: none;
        order: 2;
        flex-grow: 0;
}

.about_container{

            /* BG/Light */
            background: #F3F6F9;
            border-radius: 60px;
            z-index:-50;
        }

.cards{
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: row;
    gap: 20px;
}

.card_category_container{
     max-width: 600px;
     min-width:400px;
     height: 281px;

     transition:0.2s;
     background: #03213C;
     border-radius: 30px;
}

.card_category_container:hover {
    transform: translateY(-10px);
    transition:0.2s;
    box-shadow: 0px 40px 48px -15px rgba(62, 91, 160, 0.35);
}

.cc_content_container{

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 50px;
            gap: 10px;
}

.cc_content_header{

            width: 100%;
            height: 33px;

            font-weight: 600;
            font-size: 24px;
            line-height: 33px;

            color: #FFFFFF;

            flex: none;
            order: 0;
            flex-grow: 0;
}

.cc_content_main{
            width: 100%;
            max-height: 50px;

            font-weight: 600;
            font-size: 18px;
            line-height: 25px;

            color: #FFFFFF;

            flex: none;
            order: 0;
            flex-grow: 0;
}

.cc_content_text{

            width: 100%;
            max-height: 70px;

            font-weight: 400;
            font-size: 14px;
            line-height: 19px;


            color: #FFFFFF;

            flex: none;
            order: 1;
            flex-grow: 0;

}

.cc_content_small{

            width: 100%;
            max-height: 16px;

            font-weight: 400;
            font-size: 12px;
            line-height: 16px;

            color: #81909E;

            flex: none;
            order: 2;
            flex-grow: 0;
}

.about {

}

.about_header_container{

}
.about header{

            font-weight: 400;
            font-size: 36px;
            line-height: 49px;
            text-align: center;

            color: #03213C;
}

.card_about_container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 20px;

    background: white;
    border-radius: 30px;
}

.card_about_container ul{

          list-style:none;
          margin:0;
          padding: 0;
}

 .card_about_container li:before{
          content: '';
          display: inline-block;
          height:3px;
          width: 3px;
          vertical-align: middle;
          border-radius:50%;
          background-color:#000;
          margin-right:5px;
}


.ca_content_container{
    display: flex;
    height:250px;
    max-width:300px;
    border-radius:20px;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    background:#F3F6F9;
    gap: 10px;
}
.ca_content_header{

    width: 100%;
    max-height: 66px;

    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    color: #03213C;
    background:#F3F6F9;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ca_content_main{

   width: 100%;
   height: 198px;

   font-weight: 400;
   font-size: 16px;
   line-height: 22px;

   color: #03213C;

   flex: none;
   order: 1;
   flex-grow: 0;
}

.more {
}
.more_header_container{

}
.more header{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;

    color: #03213C;
}
.card_more_container{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    padding: 0px;
    gap: 20px;
}

.card_more{
    padding:10px;
    width: 300px;
    height: 494px;
}

.cm_content_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.zoom{
     width: 100%;
     overflow: hidden;
     margin: 0 auto;
     border-radius:16px;
}
.zoom img {
     width: 100%;
     transition: 0.2s all ease-in-out;
}

.zoom:hover img{
     transform: scale(1.05);
     transition: 0.2s all ease-in-out;

}

.cm_content_header{

    width: 100%;
    max-height: 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    padding-top:15px;
    padding-bottom:5px;

    color: #03213C;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.cm_content_main{

    width: 100%;
    max-height: 38px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #81909E;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.connection{
    display:flex;
    width:80%;
    background: #1A78CF;
    border-radius: 30px;
}

.connection text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:50px 0 50px 50px;
    gap: 15px;
}

.connection_header{
    width: 100%;
    height: 49px;

    font-weight: 400;
    font-size: 36px;
    line-height: 49px;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.connection_content{
    width: 100%;
    height: 22px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.news{
    background: #F3F6F9;
    border-radius: 60px;
    z-index:-1;
}

.que{
    width:40%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px 60px 40px 130px;
    gap: 40px;

    margin:20px 0 0 0;
    background: #F3F6F9;
    border-radius: 30px;
    }

.news{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: 20px;
    margin:20px;
    padding:20px 0 20px 0;
    background: #F3F6F9;
    border-radius: 60px;
}

.news_container{
    width: 450px;
    height: 565px;

    display:flex;


    background: #FFFFFF;
    border-radius: 30px;

    flex: none;
    flex-grow: 0;
}

.news_cards{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.news_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 10px;

    width: 85%;
    height: 505px;
}

.pub_date{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding:0px;
    margin:0px;

    color: #81909E;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.news_name{
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;

      color: #03213C;

      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;

}

.news_anno{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;

        color: #03213C;

        flex: none;
        order: 2;
        align-self: stretch;
        flex-grow: 0;
}

.news_nav{

}
.last_news{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px;
    gap: 10px;

    font-weight: 400;
    font-size: 36px;
    line-height: 49px;

    color: #03213C;

    flex: none;
    flex-grow: 0;
}

.accordion{

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /*gap: 32px;*/
    width: 100%;


    order: 0;
    flex-grow: 1;
}
.accordion__item {
      box-shadow: 0 0.05rem  rgb(0 0 0 / 15%);
    }

    .accordion__header {

      padding: 0.75rem 1rem;
      color: #03213C;
      font-weight: 600;
      font-size:18px;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      cursor: pointer;
      transition: background-color 0.2s ease-out;
    }

    .accordion__header::before {
      width: 1.2rem;
      height: 1.2rem;
      margin-left: auto;
      background:url('../img/accordion_arrow.png');
      background-repeat: no-repeat;
      background-size: 1.2rem;
      content: "";
      transition: transform 0.1s ;
    }

    .accordion__item_show .accordion__header::before,
    .accordion__item_slidedown .accordion__header::before {
      transform: rotate(-180deg);
    }

    .accordion__header:hover {
      color: #609800;
      transition: 0.1;
    }

    .accordion__item:not(.accordion__item_show) .accordion__header {
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    .accordion__content {

      padding: 0.75rem 1rem;
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    .accordion__item:not(.accordion__item_show) .accordion__body {
      display: none;
    }

    .que_header{
        width: 806px;
        height: 49px;

        font-weight: 400;
        font-size: 36px;
        line-height: 49px;

        color: #03213C;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

   /* стили для услуг*/

.offer_container{

        min-height: 450px;
        margin: 0 auto;
        /* BG/Light */

        background: #F3F6F9;
        border-radius: 60px
        order:1;
        }

.offer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 30px 260px;
}

.nav_offer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 12px 24px;
        gap: 40px;
        width:480px;

        background: #FFFFFF;
        border-radius: 43px;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

}

.nav_offer_block{
        padding:12px;
        /* Text/Bold */
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        /* Secondary/Secondary */
        color: #81909E;
        /* Inside auto layout */
        transition:0.1s;

        flex: none;
        order: 0;
        flex-grow: 0;
}

.nav_offer_block:hover {
    color: #1A78CF;
    transition:0.1s;
}

.offer_name{
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #03213C;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.offer_title{
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    color: #03213C;

    flex: none;
    order: 3;
    flex-grow: 0;
}

.offer_tariff_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: 1400px;
    min-height: 280px;
    gap: 20px;

    order: 4;
    flex-grow: 0;

}

.offer_card_container{
    width: 690px;
    height: 130px;


    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;

    background: #FFFFFF;
    border-radius: 16px;
}

.offer_card_info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 0 0 30px ;
        gap: 10px;
}

.offer_card_info_title{
    font-weight: 400;
    font-size: 18px;

    color: #03213C;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}


.offer_card_info_text{
    font-weight: 400;
    font-size: 12px;

    color: #81909E;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.form_offer_container{
    margin:0 0 0 250px;
    order:2;
}

.form_offer{
        display: grid;
        /*grid-template-columns: repeat(2, 1fr);*/
        column-gap: 0px;
        row-gap:20px
    }

.input_offer{
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width:335px;
    padding: 14px 24px;

    background: #F3F6F9;
    border-radius: 4px;

}

select {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 24px;
    min-width:385px;
    gap: 10px;

    background: #F3F6F9;
    border-radius: 4px;

}

.offer_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}